<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2016 Rails103
    <br>My blog 
    <a href="http://janice.logdown.com/" target=_new>janice</a>
  </p>
</footer>
